requests[socks]
BeautifulSoup4
pygame
icdiff
galois
reedsolo
tree-sitter
tree-sitter-language-pack
pyqt5
qscintilla
xxhash
pymorphy3
dateparser
pyside6
keyboard
mouse
bcrypt
python-jose[cryptography]
alembic
citeproc-py
python-benedict[io]
dishka
black
translators
termcolor
mypy
tinydb
natsort
tabulate
mimesis
schedule
python-dotenv
qt5-applications
mysql-connector-python
adict
fs
seaborn
dominate
bidict
yt-dlp[default]
aiohttp
git+https://github.com/brookite/pyvcard
python-Levenshtein
nuitka
python-telegram-bot
pyzipper
croniter
numpy
validators
matplotlib
geopy
pynbt
django
djangorestframework
django-filter
django-extensions
prettytable
wget
vk_api
colorama
darkdetect
win32mica; sys_platform == 'win32'
pymupdf
rapidfuzz
readability-lxml
jupyter
phonenumbers
rsa
greenlet
httpx
pyfzf
segno
eel
nbt2yaml
python-docx
emoji
pygtrie
lxml
pycryptodome
progressbar
psutil
python-vlc
xlrd
xlwt
pandas
cython
Markdown
markdown-it-py[linkify,plugins]
docutils
Markups
pyenchant
PyQtWebEngine
openpyxl
pyinstaller
plyer
sympy
urwid
pynput
jedi
pyperclip
watchdog
Sphinx
astral
ruff
flask
Flask-WTF
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-RESTful
Flask-Admin
email_validator
pytesseract
SQLAlchemy
pillow
rich
pickleDB
icecream
websockets
pyparsing
requests-html
peewee
psycopg[binary]
pymongo
valkey
textual
vcard
icalendar
vobject
networkx
scipy
scikit-learn
pydot
rdflib
pypdf[crypto]
wikitextparser
PyYAML
mypy-ls
pyls-isort
fastapi
pydantic
uvicorn[standard]