requests[socks]
BeautifulSoup4
dateparser
black
reedsolo
galois
pyjson5
icdiff
keyboard
mouse
conan
croniter
tree-sitter
termcolor
termux-api
mypy
exif
natsort
tabulate
citeproc-py
python-jose[cryptography]
bcrypt
mimesis
tinydb
dishka
bpython
schedule
pymorphy3
python-dotenv
fs
dishka
textual
python-Levenshtein
python-telegram-bot
pyzipper
bidict
adict
markdown-it-py[linkify,plugins]
geopy
prettytable
vk_api
translators
colorama
rapidfuzz
readability-lxml
dominate
validators
phonenumbers
rsa
httpx
pyfzf
segno
seaborn
python-docx
emoji
pynbt
pygtrie
pycryptodome
progressbar
xlrd
xlwt
cython
nbt2yaml
Markdown
docutils
Markups
openpyxl
sympy
watchdog
Sphinx
astral
pylint
flake8
flask
django
djangorestframework
django-filter
django-extensions
Flask-WTF
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-RESTful
Flask-Admin
email_validator
pytesseract
SQLAlchemy
rich
pickleDB
icecream
websockets
pyparsing
requests-html
git+https://github.com/brookite/pyvcard
vcard
icalendar
vobject
networkx
pydot
rdflib
pypdf[crypto]
bpython
wikitextparser
PyYAML
xxhash
aiohttp
jupyter
mypy-ls
pyls-isort
fastapi
pydantic
uvicorn[standard]
scikit-learn