requests[socks]
BeautifulSoup4
dateparser
black
reedsolo
icdiff
graphene
tree-sitter
tree-sitter-language-pack
keyboard
pyjson5
transitions
pyzstd
mouse
termcolor
tomlkit
deepdiff
openai
bidict
natsort
pyexcel
pyexcel-xlsx
pyexcel-xls
pytest
croniter
exif
citeproc-py
tabulate
bcrypt
python-jose[cryptography]
dishka
mypy
python-benedict[io]
jmespath
seaborn
adict
mimesis
dominate
tinydb
schedule
textual
python-dotenv
fs
yt-dlp[default]
python-Levenshtein
python-telegram-bot
plyvel
validators
pyzipper
pymorphy3
markdown-it-py[linkify,plugins]
geopy
prettytable
vk_api
colorama
translators
readability-lxml
rapidfuzz
phonenumbers
rsa
httpx
pyfzf
segno
python-docx
conan
jsonpatch
jsonschema
emoji
pynbt
dishka
pygtrie
APScheduler
pycryptodome
progressbar
psutil
python-vlc
xlrd
xlwt
cython
nbt2yaml
Markdown
docutils
Markups
openpyxl
sympy
watchdog
Sphinx
astral
ruff
flask
django
djangorestframework
django-filter
django-extensions
Flask-WTF
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-RESTful
Flask-Admin
email_validator
pytesseract
SQLAlchemy
rich
pickleDB
icecream
websockets
pyparsing
requests-html
pynput
git+https://github.com/brookite/pyvcard
peewee
psycopg[binary]
pymongo
valkey
vcard
icalendar
vobject
networkx
pydot
rdflib
pypdf[crypto]
bpython
wikitextparser
PyYAML
xxhash
scipy
scikit-learn
pillow
pandas
numpy
matplotlib
aiohttp
lxml
jupyter
mypy-ls
pyls-isort
fastapi
pydantic
uvicorn[standard]
grpcio
grpcio-tools
protobuf
cbor2
Brotli
jsonpatch
jsonschema
APScheduler
pyrate-limiter